<div class='main-about'>
  <a href="#" id="simple-menu"><img src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg"></a>
  <div class="banner-content">
  	<h1>Relive your favorite memories</h1>
	</div>
</div>

<div class='support'>
  <div class='Row'>
    <h1>No more sorting through photos</h1>
    <p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways. </p>
    <div><%= link_to 'Sign up', "/new", :class => 'btn' %></div>
  </div>
</div>