<div class='main-home'>
  <a href="#" id="simple-menu"><img src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg"></a>
  <div class="banner-content">
  	<h1>Create and share Stories</h1>
		  <div class='btn'>Learn more</div>
	</div>
</div>

<div class='support'>
  <div class='Row'>
    <h1>Relive and share your adventures</h1>
    <p>Stories automatically creates a digital journal filled with only your best photos. </p>
  </div>
</div>
  <div class='support'><%= image_tag "http://cdn.playbuzz.com/cdn/e2460e82-7ce6-4875-92be-06650e63df41/7f203731-d879-4224-812b-ad122e019178.jpg" %></div>