// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family:'Montserrat',sans-serif;
}

#mobile-header {
    display: none;
}
@media only screen and (max-width: 767px){
    #mobile-header {
        display: block;
    }
}

.main-home {
  	height:600px;
  	background-image: url('http://cdn.playbuzz.com/cdn/e2460e82-7ce6-4875-92be-06650e63df41/7f203731-d879-4224-812b-ad122e019178.jpg');
  	padding-top:20px;
  	padding-left:20px;
  	color:#fff;
  	-o-background-size: cover;
  	background-size: cover;
  	font-size:58px;
}

.main-about {
  	height:500px;
  	background-image: url('http://www.mrwallpaper.com/wallpapers/punta-cana-beach.jpg');
  	padding-top:20px;
  	padding-left:20px;
  	color:#fff;
	-o-background-size: cover;
  	background-size: cover;
}

.support {
  	height:300px;
 	text-align:center;
  	display:relative;
  	padding-top:50px;
  	padding-bottom:50px;
}

.jumbotron {
  	height:400px;
  	background-image: url('http://static1.squarespace.com/static/534d8724e4b0f14a86e8881e/t/534d8975e4b026711e80d80c/1424862353939/ski-high-resolution-976531.jpg?format=1500w');
  	padding-top:20px;
  	padding-left:20px;
  	color:#fff;
  	-o-background-size: cover;
  	background-size: cover;
}

.banner-content {
  	text-align:center;
  	display:relative;
  	padding-top:10px;
  	padding-bottom:50px;
}

//ELEMENTS
.btn {
 	display:inline-block;
  	clear:both;
  	background-color:blue;
  	color: #fff;
  	font-family: 'Raleway', sans-serif;
  	font-weight: 600;
  	font-size: 18px;
  	letter-spacing: 1.3px;
  	padding-top:200px;
  	text-decoration: none;
  	text-transform: uppercase;
  	border:1px solid white;
  	border-radius:5px;
  	margin:5px 0 0; 
}

h1 {
	padding-top:30px;	
}

p {
	padding-top:10px;
	padding-bottom:10px;
	padding-left:50px;
	padding-right:50px;
	font-size:18px;
}

//FOOTER
.footer {
  	height: 100px;
  	background-color:lightgray;
  	padding-top:40px;
  	padding-bottom:20px;
  	text-align:center;
  	font-family: 'Raleway', sans-serif;
}

@import url("https://cdn.jsdelivr.net/jquery.sidr/2.2.1/stylesheets/jquery.sidr.dark.min.css");